## Problems On List

### Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# With For + Range
for i in range(20, 101, 20) :
    print(i, end=" ")

20 40 60 80 100

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [ ]:
list1=[20,36,61,46,28,36,61,46,49,70,38,7,49,70,19,28,36,61,46,7,19,28,49,70,36,61,46,70,38,9,43,7,49,70,19,28,4,44,64,19,83,44,36,61,46,28,49,70]

## Find distinct digits in list

In [ ]:
unique_list = []
# traverse for all elements
for x in list1:
    # check if exists in unique_list or not
    if x not in unique_list:
        unique_list.append(x)
# print list
unique_list

[20, 36, 61, 46, 28, 49, 70, 38, 7, 19, 9, 43, 4, 44, 64, 83]

## Find the number of times the specified digit appears in the list.

In [ ]:
for i in unique_list:
    count = list1.count(i)
    print('Count of '+str(i)+':', count)

Count of 20: 1
Count of 36: 5
Count of 61: 5
Count of 46: 5
Count of 28: 5
Count of 49: 5
Count of 70: 6
Count of 38: 2
Count of 7: 3
Count of 19: 4
Count of 9: 1
Count of 43: 1
Count of 4: 1
Count of 44: 2
Count of 64: 1
Count of 83: 1

## Sum of those distinct digits in the list

In [ ]:
sum = 0
for x in unique_list:
    sum += x
print(sum)

621

## Find max and min value of the list

In [ ]:
#MAX VALUE
unique_list.sort()
print(unique_list[len(unique_list)-1])
print(unique_list[-1])
#MIN VALUE
unique_list.sort()
print(unique_list[0])

83
83
4

In [ ]:
#MAX VALUE
unique_list.sort(reverse=True) # descending order
print(unique_list[0])

#MIN VALUE
unique_list.sort(reverse=True)
print(unique_list[len(unique_list)-1])
print(unique_list[-1])

83
4
4

### Extract elements with Frequency greater than 2

In [ ]:
K = 2
  
res = [] 
for i in list1: 
      
    # using count() to get count of elements
    freq = list1.count(i) 
      
    # checking if not already entered in results
    if freq > K and i not in res: 
        res.append(i)
print(res)

[36, 61, 46, 28, 49, 70, 7, 19]

### Remove all occurrences of a specific item (61) from a list.

In [ ]:
item=61
res = [i for i in list1 if i != item]
res


Find all of the numbers from 1-1000 that have a 3 in them

In [ ]:
three = [n for n in range(0,1000) if '3' in str(n)]
print(three)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

Find all of the numbers from 1-1000 that are divisible by 7

In [ ]:
div7 = [n for n in range(1,1000) if n % 7 == 0] 
print(div7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

### Takes two lists and returns True if they have at least one common member
input1: [1,2,3,4,5], [5,6,7,8,9]

input2: [1,2,3,4,5], [6,7,8,9]

In [ ]:
list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
for x in list1:
  if x in list2:
    print(True)

True

## swap two elements in a list
Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
Output : [1, 5, 3, 4, 2]

In [ ]:
#try your code here
# hints :: syntax:list[pos1], list[pos2] = list[pos2], list[pos1]

In [ ]:
List2 = [23, 65, 19, 90]
pos1, pos2  = 1, 3
List2[pos1-1], List2[pos2-1] = List2[pos2-1], List2[pos1-1]
List2

[19, 65, 23, 90]

In [ ]:
List3 = [1, 2, 3, 4, 5]
pos1, pos2  = 2, 5
List3[pos1-1], List3[pos2-1] = List3[pos2-1], List3[pos1-1]
List3

[1, 5, 3, 4, 2]

### Concatenate two lists index-wise
list1 = ["M", "na", "i", "am"]

list2 = ["y", "me", "s", "it"]

output will be ['My', 'name', 'is', 'amit']

https://www.w3schools.com/python/ref_func_zip.asp

In [ ]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

### Concatenate two lists in the following order
list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

output will be ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

###Remove empty strings from the list of strings
['New York','London',' ','Mumbai','Berlin','Sydney','Beijing',' ','Singapore','Chicago','Paris','Johannesburg']

In [ ]:
list1 = ['New York','London',' ','Mumbai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']
# remove None from list1 and convert result into list
list1.remove(' ')
print(list1)

['New York', 'London', 'Mumbai', 'Berlin', 'Sydney', 'Beijing', 'Singapore', 'Chicago', 'Paris', 'Johannesburg']

### Replace list’s item with new value if found
input: ['New York','London','Mumbai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']

output: ['New York','London','Chennai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']

In [ ]:
input=['New York','London','Mumbai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']
x=input.index('Mumbai')
input[x]='Chennai'
print(input)

['New York', 'London', 'Chennai', 'Berlin', 'Sydney', 'Beijing', 'Singapore', 'Chicago', 'Paris', 'Johannesburg']